#read-more{
    position: relative;
    top: 35px;
    left: 649px;
}
.date{

}
.news-main{
    position: relative;
    left:30px;
    right:30px;
    margin-top:40px;
    margin-left: 300px;
    margin-right: 300px;
}
/* .major{
    position: absolute;
} */
