<!DOCTYPE HTML>
<html>
	<head>
		<title>新闻详情</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../view/detail/assets/css/main.css" />
		<link rel="stylesheet" href="../view/detail/assets/css/newsMain.css">
	</head>
	<body id="top">

		<!-- Header -->
		<header id="header">
			<div class="content">
				<h1><a href="/#news">没技术的新闻网站</a></h1>
				<p>作者：李晓晨，何佳林，王喆<br>
					          赵阳阳，吴云明</p>
			</div>
			<div class="image phone"><div class="inner"><img src="view/detail/images/screen.jpg" alt="" /></div></div>
		</header>

		<!-- One -->
		<a name="news_body"></a>
		<section id="one" class="wrapper style2 special">
			<header class="major">
                <header class="major">
                    <h2>{{newstitle}}</h2>
                    <h5 class="date">日期：{{newsdate}}</h3>
                    <img src="" alt="">
                    <p class="news-main">{{newscontent}}</p>
                </header>
			</header>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper style2 special">
			<header class="major">
				<header class="major">
					<h4>添加评论</h4>
					<p class="news-main"><input id="two_guestname" type="text" placeholder="昵称"></p>
					<p class="news-main"><textarea id="two_content" placeholder="评论内容"></textarea></p>
					<button id="two_submit" type="submit">提交</button>
				</header>
			</header>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style2 special">
			<header class="major">
				<header class="major">
					<h4>评论</h4>
					<div id="three_comments"></div>
				</header>
			</header>
		</section>

		<!-- Footer -->
		<footer id="footer">
			<ul class="icons">
				<li><button id="three_more" type="submit">更多</button></li>
			</ul>
		</footer>

		<!-- Scripts -->
		<script src="../view/detail/assets/js/jquery.min.js"></script>
		<script src="../view/detail/assets/js/jquery.scrolly.min.js"></script>
		<script src="../view/detail/assets/js/skel.min.js"></script>
		<script src="../view/detail/assets/js/util.js"></script>
		<script src="../view/detail/assets/js/main.js"></script>
		<script src="../view/detail/comment.js"></script>
	</body>
</html>
