<!DOCTYPE HTML>
<html>
	<head>
		<title>没技术的新闻网站</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="view/home/assets/css/main.css" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="content">
					<h1><a href="#news">没技术的新闻网站</a></h1>
					<p>作者：李晓晨，何佳林，王喆<br>
					              赵阳阳，吴云明</p>
				</div>
				<div class="image phone"><div class="inner"><img src="view/home/images/screen.jpg" alt="" /></div></div>
			</header>

		<!-- One -->
			<section id="one" class="wrapper style2 special">
				<header class="major">
					<h2>有态度的新闻</h2>
				</header>
			</section>

		<!-- Two -->
			<a name="news"></a>
			<section id="two" class="wrapper">
				<div class="inner alt" id="news-content"></div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a  class="button" id="read-more"><span class="label">更多</span></a></li>
				</ul>
				<ul class="icons">
					<li><a href="/signin" class="icon"><img src="view/home/assets/image/settings.svg" width="24em" height="24em"><span class="label">后台管理</span></a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="view/home/assets/js/jquery.min.js"></script>
			<script src="view/home/assets/js/jquery.scrolly.min.js"></script>
			<script src="view/home/assets/js/skel.min.js"></script>
			<script src="view/home/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="view/home/assets/js/main.js"></script>
			<script src="view/home/index.js"></script>
	</body>
</html>
